<h1>All the facts</h1>
<table class="fact-table" ng-cloak >
  <thead>
    <tr>
      <th>Subject</th>
      <th>Predicate</th>
      <th>Object</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fact in facts">
      <td>{{fact.subject}}</td>
      <td>{{fact.predicate}}</td>
      <td>{{fact.object}}</td>
      <td><a href ng-click="delFact(fact)">&times;</a></td>
    </tr>
    <tr>
      <td><input type="text" ng-model="newFact.subject"></td>
      <td><input type="text" ng-model="newFact.predicate"></td>
      <td><input type="text" ng-model="newFact.object" ng-keyup="pushFact()"></td>
    </tr>
  </tbody>
</table>
